.contact-wrapper {
  background: var(---background);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 30px var(---text) !important;
  margin-left: auto !important;

}

.contact-info {
  background: linear-gradient(135deg, #0E1C36 , #D7F9FF);
  padding: 40px;
  color: white;
  width:30rem !important;
}



.contact-item:hover {
  transform: translateX(2rem);
  scale: 1.25;
}

.contact-icon {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem !important;
  margin-left: 3rem !important;
}

.social-links {
  margin-top: 30px;
}

.social-icon {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: white;
  color: #0062cc;
  transform: translateY(-3px);
}



.form-control {
  border-radius: 10px;
  padding: 12px 15px;
  border: 2px solid #eee;
  transition: all 0.3s ease;
  width: 80%;
  margin-left: 3rem !important;
}

.form-control:focus {
  border-color: #0062cc;
  box-shadow: none;
}

.form-label {
  font-weight: 500;
  margin-bottom: 8px !important;
  color: var(---text);
  margin-left: 1rem !important;
}

.contactButton {
  margin-left: 4rem !important;
  background-color: var(---background)!important;
    color: var(---text)!important;
    box-shadow: 0px 0px 2px 2px #AFCBFF;
    width: 7rem !important;
    scale: 1.2;
    margin-bottom: 3rem !important;
}
.contactButton:hover {
  background-color:#D7F9FF!important;
  transition: 0.7s !important;
  color:#0E1C36 !important;}