/* font pairings

font-family: futura 
brand standards boys brigade
*/

/*color pallette

#D7F9FF cyan
#AFCBFF jordy blue
#0E1C36 oxford blue
#F9FBF2 ivory
#FFF7E0
*/
/*apply font - futura to all page*/
@font-face {
  font-family: 'Futura'; /* Define your font family name */
  src: url('../fonts/futura(1)/') format('woff2'), /* Path to your font file */
      
}
@font-face {
  font-family: 'Microsoft Sans Serif Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Microsoft Sans Serif Regular'), url('micross.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Microsoft Sans Serif';
  font-style: normal;
  font-weight: normal;
  src: local('Microsoft Sans Serif'), url('micross.woff') format('woff');
  }
/*text css for app*/
* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-family: 'Futura ', sans-serif !important;
    color: var(---text);
    font-size: font-size:calc(12px + 1.6vw);
    
  }
  h2{
    font-family: 'Futura ', sans-serif !important;
    color: var(---text);
    font-size: font-size:calc(12px + 1.2vw);

  }
  h3{
    font-family: 'Futura ', sans-serif !important;
    color: var(---text);
    font-size: font-size:calc(12px + 1.1vw);

  }
  p{
    font-family: 'Futura ', sans-serif !important;
    color: var(---text);
    font-size: font-size:calc(12px + 1vw);

  }
  a {text-decoration: none !important;
  color: var(---text);}
  /*css for header navbar*/
  .headerBackground {
    background: var(---background) !important;
    }
    .brandImg {
      margin-left: 2rem !important;
      margin-right: 2rem !important;
    }
    .hNavItem{
      margin-left: 2rem !important;
    }
    .dropdown{
      margin-top: 1rem !important;
    }

/*accesibility css*/

.dark-theme {
  ---background: #0E1C36 ;
  ---card-border: #0b0e11;
  ---text: #F9FBF2 ;
  ---text-primary: #e7be1b;

 }
 .light-theme {
   ---background: #F9FBF2 ;
   ---card-border: #eaeaff;
   ---text: #0E1C36 ;
   ---text-primary: #2d2e83;
   
 }
 body {
  font-size: 0.9rem;
  font-family: "futura", sans-serif;
  overflow-x: hidden;
  background: var(---background);
height: 50rem;
 }

   .themebut{
    background-color: var(---background)!important;
    color: var(---text)!important;
    box-shadow: 0px 0px 2px 2px #AFCBFF;
    width: 11.5rem !important;
    scale: 1.2;
    

   }
   .googleTranslate{
    background-color: var(---background)!important;
    color: var(---text)!important;
    box-shadow: 0px 0px 2px 2px #AFCBFF;
    width: 11.5rem !important;
    margin-bottom: 1rem !important;
    scale: 1.2;
   }
 
 /*media section*/
 video {
  max-width: 100%;
  object-fit: cover !important;
  position: fixed;
   left: 0;
   right: 0;
    top: 0;
    bottom: 0;
 z-index: -1;
  
 }
 /*footer section*/
 nav{

  padding: 0;
  opacity: 80%;
  height: 17vh;
}
.spacerDiv {
 height: 25vh!important;
}

nav:hover {
  opacity: 100% !important;
}
 
 .footerItem {
  margin-right: 5vh !important;
  margin-left: 5vh !important;
 }
 .fI2 {
  margin-top: 2vh;
  margin-bottom: auto;
 }
 

 
.footerBackground {
  background: var(---background) !important;
  height: 15vh;
  margin-top: 10vh !important;
}

.cardBackground{
  background: var(---background) !important;
  height: 15vh;
  margin-top: 10vh !important;
}
.cardbtn{
 max-width: 10rem !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
  margin-bottom: 1rem !important;

}
.footerbtn {
  background-color: #0E1C36 !important;
  color: #FFF7E0 !important;
  box-shadow: 0px 0px 2px 2px #AFCBFF;
  width: 10rem !important;
 
}
.footerbtn:hover {
  background-color:#D7F9FF!important;
  transition: 0.7s !important;
  color:#0E1C36 !important;
}
/*central box section fade in*/
.fade-in-image {
  animation:bg 5s linear infinite;
  animation: fadeIn 20s;
  -webkit-animation: fadeIn 20s;
  -moz-animation: fadeIn 20s;
  -o-animation: fadeIn 20s;
  -ms-animation: fadeIn 20s;
 
}
.cardHome {
  margin: auto !important;
  opacity: 80%;
}
.cardBtn{
margin-top: auto !important;
margin-bottom: 2rem !important;
}
.titleText {
  margin-top: 2rem !important;
}
.typeText {
  margin-top: 2rem !important;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}